@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  color: #2d2d2d;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

.main-container {
  max-width: 185rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  padding: 1.5rem 0;
}

.header-item {
  display: flex;
  column-gap: 12rem;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.nav-text {
  font-weight: 500;
  color: #2b3879;
}

.brand-logo > img {
  display: block;
  width: 20rem;
  object-fit: cover;
}

.nav-item > i {
  font-size: 1.4rem;
  color: #9b9b9b;
  opacity: 0.8;
}

.header-btns {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

.btn-signup,
.btn-login {
  display: block;
  width: 10rem;
  height: 4.8rem;
  border-radius: 5px;
  border: 1px solid #6c95ce;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  color: #6c95ce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  background: #6c95ce;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
}

/* Hero-Section */
.hero {
  background-color: #f8f9fa;
  padding: 5rem 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  width: 50rem;
}

.hero-image > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.hero-text {
  flex: 1;
}

.hero-title {
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 8.1rem;
  color: #2b3879;
}

.hero-subtitle {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.3rem;
}

.hero-list {
  margin: 3rem 0;
}

.hero-list-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 1.2rem;
}

.btn-start-hosting {
  display: block;
  width: 17.2rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffcf00;
  border-radius: 5px;
  filter: drop-shadow(0px 6px 12px rgba(134, 116, 39, 0.3));
  font-weight: 500;
  font-size: 1.6rem;
}

/* Search-Section */

.search-section {
  padding: 5rem 0;
  background: #2b3879;
  color: #ffffff;
}

.search-section-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
  text-align: center;
  color: #ffffff;
}

.search-section-form {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.search-section-form-group {
  display: flex;
}

.search-section-form-group > input {
  display: block;
  flex: 1;
  font-family: inherit;
  background: #ffffff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.3rem;
  color: #2b3879;
  padding: 15px;
  border: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}

.search-section-form-group > input::placeholder {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #cecadc;
}

.btn-search {
  display: block;
  font-family: inherit;
  width: 13rem;
  background: #ffcf00;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #2b3879;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.search-section-price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8rem;
}

.search-section-domain-price {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.search-section-domain-name {
  font-weight: 600;
}

/* Services-Section */

.services {
  padding: 5rem 0;
}

.services-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
  text-align: center;
  color: #2b3879;
}

.services-desc {
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #2d2d2d;
}

.services-list {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
}

.services-item {
  width: 26rem;
}

.services-item-img {
  width: 6rem;
  height: 6rem;
  background: #f0f1f1;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-item-title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2b3879;
  margin: 2rem 0 1rem 0;
}

.services-item-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* Website-Builder */

.website-builder {
  margin-bottom: 5rem;
  padding: 0 15px;
}

.check-container {
  max-width: 39rem;
  width: 100%;
  margin: 0 auto;
}

.website-builder-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

.website-builder-image {
  width: 76.7rem;
}

.website-builder-image > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.website-builder-item {
  width: 46rem;
}

.website-builder-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
  color: #2b3879;
}

.website-builder-desc {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.website-builder-services {
  display: flex;
  column-gap: 2.5rem;
  margin-top: 2.5rem;
}

.website-builder-services-img {
  width: 6rem;
  height: 6rem;
  background: #f0f1f1;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-builder-services-text {
  flex: 1;
}

.website-builder-services-title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.4rem;
  color: #2b3879;
}

.website-builder-services-desc {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

/* Clouding-Services */

.clouding-services {
  padding: 5rem 0;
  background-color: #f8f9fa;
}

.clouding-services-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
  color: #2b3879;
  text-align: center;
}

.clouding-services-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.clouding-services-item {
  flex: 1 1 32rem;
  width: 32rem;
  text-align: center;
  padding: 1.5rem;
}

.clouding-services-item-img {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  background: #f0f1f1;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clouding-services-item-title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 3.4rem;
  color: #2b3879;
  margin: 1rem 0;
}

.clouding-services-item-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
